# South African L.I Hackathon 

## Introduction

### South Africa is having many ethnic communities speak different languages among them from top to bottom:
      1.  Zulu
      2.  Xhosa
      3.  Afrikaans 
      4.  English
      5.  Sesotho sa Leboa
      6.  Setswana
      7.  Sesotho among the top

At least thirty-five languages indigenous to South Africa are spoken in the Republic, ten of which are official languages of South Africa: Ndebele, Pedi, Sotho, Swati, Tsonga, Tswana, Venḓa, Xhosa, Zulu and Afrikaans. The eleventh official language is English, which is the primary language used in parliamentary and state discourse, though all official languages are equal in legal status, and unofficial languages are protected under the Constitution of South Africa, though few are mentioned by any name. South African Sign Language has legal recognition but is not an official language, despite a campaign and parliamentary recommendation for it to be declared one

Unofficial and marginalised languages include what are considered some of Southern Africa's oldest languages: Khoekhoegowab, !Orakobab, Xirikobab, N|uuki, !Xunthali, and Khwedam; and other African languages, such as SiPhuthi, IsiHlubi, SiBhaca, SiLala, SiNhlangwini (IsiZansi), SiNrebele (SiSumayela), IsiMpondo/IsiMpondro, IsiMpondomise/IsiMpromse/Isimpomse, KheLobedu, SePulana, HiPai, SeKutswe, SeṰokwa, SeHananwa, SiThonga, SiLaNgomane, SheKgalagari, XiRhonga, SeKopa (Sekgaga) and others. Most South Africans can speak more than one language,and there is very often a diglossia between the official and unofficial language forms for speakers of the latter.

# Goal

From the dataset classify the languages using your favorite NLP model from the eleven South African Languages.

# Table of Contents

1. Importing Libraries
2. Importing Dataset
3. Data Preprocessing
4. Exploratory Data Analysis
5. Feature Engineering and Selection
6. Model Selection
7. Submission
8. Conclusion

# Importing Libraries

In [5]:
# Packages for data analysis
import pandas as pd
import numpy as np
import time



# Packages for preprocessing
import nltk
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer


# Packages for visualizations
import seaborn as sns
import matplotlib.style as style

# Packages for training models
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import MultinomialNB, ComplementNB
from sklearn.svm import LinearSVC, SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
# import xgboost as xgb
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.metrics import make_scorer

import matplotlib.pyplot as plt


# Style
sns.set(font_scale=1.5)
style.use('seaborn-pastel')
style.use('seaborn-poster')

# Importing Dataset

In [6]:
# Importing the dataset
train = pd.read_csv('train_set.csv')
test = pd.read_csv('test_set.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Data Preprocessing

In [8]:
# top 5 entries of the dataset
train.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [9]:
# Looking at the first few entries in the dataset
test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [10]:
# Looking at the predicted output
sample_submission

   index lang_id
0      1     tsn
1      2     nbl

In [11]:
# Get the statistics of the train
train.describe().T

        count unique                                                top freq
lang_id  8309     11                                                tsn  795
text     8309   8109  ngokwesekhtjheni yomthetho ophathelene nalokhu...    5

In [12]:
# value count of eah language
train.lang_id.value_counts()

tsn    795
tso    766
ven    765
afr    764
eng    762
zul    760
nso    749
nbl    748
xho    747
ssw    739
sot    714
Name: lang_id, dtype: int64

In [13]:
# language ids column values
train['lang_id'].unique()

array(['xho', 'eng', 'nso', 'ven', 'tsn', 'nbl', 'zul', 'ssw', 'tso',
       'sot', 'afr'], dtype=object)

In [14]:
# Datset overview

print('Shape of the train dataset: {}\n'.format(train.shape))

print('Shape of the test dataset: {}\n'.format(test.shape))

Shape of the train dataset: (8309, 2)

Shape of the test dataset: (5682, 2)

# Exploratory Data Analysis

In [15]:
%matplotlib inline

## Data Cleaning

In [16]:
def clean_text(text):
    """
    A function that uses regular expressions to remove website contents that are not usefull.

    Input:
    text: original text
          datatype: string

    Output:
    texts: modified text
           datatype: string
    """
    # replace the characters with " "
    text=re.sub('<.*?>', ' ', text)

    # replace newline with space
    text = re.sub("\n"," ",text)
    # convert text to lower
    text = text.lower()
    # change list to string
    text=' '.join(text.split())
    
    return text

In [17]:
# apply the function on the text column
train['text'] = train['text'].apply(clean_text)
test['text'] = test['text'].apply(clean_text)

In [18]:
# Replace '.txt' with 'text file'
train["text"] = train["text"].str.replace(".txt", " text file")
test["text"] = test["text"].str.replace(".txt", " text file")

# Feature Engineering and Selection

In [19]:
# Splitting out X (indepedent) and Y (target/dependent) variables
X = train['text']
y = train['lang_id']

In [20]:
# Splitting of Training and Validation Sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=42)

# Model Selection

## Setting up Classifiers for Model Training

In [21]:
# List of all the models

classifiers = [LinearSVC(random_state=42),
                           
                RandomForestClassifier(n_estimators=100, max_depth=2,
                                     random_state=0, class_weight="balanced"),
                LogisticRegression(random_state=42,
                                  multi_class='ovr',
                                  n_jobs=1,
                                  C=1e5,
                                  max_iter=4000),
                KNeighborsClassifier(n_neighbors=5),
                ComplementNB(),
                SGDClassifier(loss='hinge',
                             penalty='l2',
                             alpha=1e-3,
                             random_state=42,
                             max_iter=5,
                             tol=None)
               ]

In [22]:
# Creating Function for Model Building

def models_building(classifiers, X_train, y_train, X_val, y_val):
    """
    This function takes in a list of classifiers
    and both the train and validation sets
    and return a summary of F1-score and
    processing time as a dataframe

    Input:
    classifiers, X_train, y_train, X_val, y_val: 

    Output:
    model_summary: F1 Score for the model classifiers
                
    """
    # create a dictionary of the summary of classifies perfomance
    summary = {}

    # loop   in the classifiers
    for clf in classifiers:
        clf_text = Pipeline([('tfidf', TfidfVectorizer(min_df=1,
                                                       max_df=0.9,
                                                       ngram_range=(3, 6),
                                                       analyzer='char')),
                             ('clf', clf)])

        # operation timing
        start_time = time.time()
        clf_text.fit(X_train, y_train)
        predictions = clf_text.predict(X_val)
        run_time = time.time()-start_time

        # Output for each model
        summary[clf.__class__.__name__] = {
            'F1-Macro': metrics.f1_score(y_val,
                                         predictions,
                                         average='macro'),
            'F1-Accuracy': metrics.f1_score(y_val, predictions,
                                            average='micro'),
            'F1-Weighted': metrics.f1_score(y_val,
                                            predictions,
                                            average='weighted'),
            'Execution Time': run_time}

    return pd.DataFrame.from_dict(summary, orient='index')

In [23]:
# Execution of the Classifiers

classifiers_df = models_building(classifiers, X_train, y_train, X_val, y_val)
ordered_df = classifiers_df.sort_values('F1-Macro', ascending=False)
ordered_df

                        F1-Macro  F1-Accuracy  F1-Weighted  Execution Time
LogisticRegression      1.000000     1.000000     1.000000      100.723913
LinearSVC               0.999391     0.999398     0.999398       17.850938
ComplementNB            0.999391     0.999398     0.999398       11.844709
SGDClassifier           0.998809     0.998797     0.998797       13.306231
KNeighborsClassifier    0.964621     0.964501     0.964289       14.127508
RandomForestClassifier  0.945495     0.944043     0.944531       13.884811

## Hyperparameter Tuning on Most Performing Models

In [24]:
# Refining the train-test split for validation
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20)

### Multinomial Naive Bayes

In [25]:
# Creating a pipeline for the gridsearch
param = {'alpha': [0.1, 1, 5, 10]}  # setting parameter grid

HP_MNB = Pipeline([('tfidf', TfidfVectorizer(min_df=2,
                                                max_df=0.9,
                                                ngram_range=(3, 6),
                                                analyzer='char')),
                      ('mnb', GridSearchCV(MultinomialNB(),
                                           param_grid=param,
                                           cv=5,
                                           n_jobs=-1,
                                           scoring='f1_weighted'))
                      ])

HP_MNB.fit(X_train, y_train)  # Fitting the model

y_pred_mnb = HP_MNB.predict(X_val)  # predicting the fit on validation set

print(classification_report(y_val, y_pred_mnb, digits = 4)) #log classification report

              precision    recall  f1-score   support

         afr     1.0000    1.0000    1.0000       135
         eng     1.0000    1.0000    1.0000       158
         nbl     1.0000    1.0000    1.0000       168
         nso     1.0000    1.0000    1.0000       156
         sot     1.0000    1.0000    1.0000       162
         ssw     1.0000    1.0000    1.0000       146
         tsn     1.0000    1.0000    1.0000       168
         tso     1.0000    1.0000    1.0000       119
         ven     1.0000    1.0000    1.0000       163
         xho     1.0000    0.9930    0.9965       142
         zul     0.9932    1.0000    0.9966       145

    accuracy                         0.9994      1662
   macro avg     0.9994    0.9994    0.9994      1662
weighted avg     0.9994    0.9994    0.9994      1662

# Submission

In [26]:
submission = pd.DataFrame(test['index'])
submission['lang_id'] = HP_MNB.predict(test['text'])
submission.to_csv('finalsubmission.csv', index=False)

In [27]:
submission

      index lang_id
0         1     tsn
1         2     nbl
2         3     ven
3         4     ssw
4         5     afr
...     ...     ...
5677   5678     eng
5678   5679     nso
5679   5680     sot
5680   5681     sot
5681   5682     nbl

[5682 rows x 2 columns]

# 6. Conclusion

A set algorithms was looped into the dataset,logistic regresion took the lead with an 97% .
Average micro says the function to compute f1 by considering total true positives, false negatives and false positives (no matter of the prediction for each label in the dataset),it also says the function to compute f1 for each label, and returns the average without considering the proportion for each label in the dataset.

Average weighted says the function to compute f1 for each label, and returns the average considering the proportion for each label in the dataset.

Average samples says the function to compute f1 for each instance, and returns the average. Use it for multilabel classification.